<h1>Games</h1>
<p>Hello from Games!</p>
<p>I want this to eventually be an admin level view only</p>

<ul>
  <% @games.each do |game| %>
    <li>
      <%= link_to game.full_legal_game_name, game_path(game) %>
      <%= link_to 'Delete', game_path(game), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>

    </li>
    
  <% end %>
</ul>